---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <!-- Hero -->

  <section
    class="relative min-h-[80dvh] w-full bg-cover bg-center bg-no-repeat"
    style="background-image: url('/img/hero.webp')"
  >
    <div class="absolute inset-0 z-0 bg-black/40"></div>

    <div
      class="relative z-10 container mx-auto flex min-h-[80dvh] items-center justify-center px-4 text-center"
    >
      <div class="max-w-2xl">
        <h1
          id="hero-title"
          class="text-4xl font-bold text-white/90 sm:text-5xl md:text-6xl"
        >
          Fabricamos tarimas y pallets con calidad garantizada
        </h1>

        <p
          class="mt-10 text-lg text-pretty text-white/90 sm:text-xl md:text-2xl"
        >
          Más de 20 años de experiencia en soluciones de madera para la
          industria.
        </p>
      </div>
    </div>
  </section>

  <section class="flex flex-col items-center bg-[#f5e1ce] py-20">
    <img
      src="/img/wood.webp"
      alt="Trozo de madera"
      class="max-w-3xs py-6 md:max-w-xs"
    />
    <h2 class="py-7 text-center text-3xl text-gray-800 md:text-4xl">
      La <span class="font-semibold">experiencia</span> nos resplada
    </h2>
    <p
      class="px-4 text-center text-lg text-gray-700 md:text-xl lg:max-w-[65dvw]"
    >
      Contamos con <span class="font-semibold">
        más de 20 años de experiencia
      </span>
      en la fabricación de tarimas, pallets y productos derivados de la madera. Nos
      distinguimos por nuestra <span class="font-semibold"
        >puntualidad, calidad y precios competitivos</span
      >. Brindamos asesoría personalizada y un servicio confiable, respaldado
      por nuestra trayectoria y compromiso con la satisfacción de cada cliente.
    </p>
  </section>
</BaseLayout>
