---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <!-- Hero -->
  <section
    class="relative min-h-[80dvh] w-full bg-cover bg-center bg-no-repeat"
    style="background-image: url('/img/hero.webp')"
  >
    <div class="absolute inset-0 z-0 bg-black/40"></div>

    <div
      class="relative z-10 container mx-auto flex min-h-[80dvh] items-center justify-center px-4 text-center"
    >
      <div class="max-w-2xl">
        <h1
          id="hero-title"
          class="text-4xl font-bold text-white/90 uppercase md:text-5xl"
        >
          El mundo se mueve en tarimas
        </h1>

        <p class="mt-7 text-base text-pretty text-white/90 md:text-xl">
          Más de 20 años de experiencia en soluciones de madera para la
          industria.
        </p>

        <!-- CTA Button -->
        <div class="mt-7 flex justify-center">
          <a
            href="/contacto"
            class="mt-2 inline-flex min-h-11 touch-manipulation items-center justify-center rounded-md bg-[#f8b301] px-8 py-3 text-lg font-semibold text-white/90 shadow-sm outline-1 outline-white/90 transition hover:bg-white/90 hover:text-[#513315] focus-visible:ring-2 focus-visible:ring-white focus-visible:outline-none active:scale-[.98]"
            aria-label="Ir a la página de Contacto"
          >
            CONTACTO
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Mission Statement -->
  <section class="my-24 px-4">
    <h3 class="text-center text-3xl font-semibold md:text-3xl lg:text-4xl">
      Calidad que <span
        class="underline decoration-[#f8b301] decoration-2 underline-offset-2 lg:decoration-3"
        >sostiene</span
      > tu negocio
    </h3>
  </section>

  <!-- Cards -->

  <section class="mb-14 flex justify-center">
    <div class="flex flex-col xl:flex-row">
      <!-- Card #1 -->
      <div
        class="max-w-md px-4 md:max-w-xl lg:max-w-xl xl:mt-12 xl:max-w-sm 2xl:max-w-md"
      >
        <img
          src="/img/about-us.webp"
          alt="Placeholder"
          class="h-auto w-full object-cover"
        />
        <div class="mt-1 flex flex-row items-center gap-2">
          <img src="/img/thumbs-up.webp" alt="Pulgar arriba" class="size-6" />
          <h4 class="pt-2 text-lg font-semibold text-gray-900 uppercase">
            Sobre Nosotros
          </h4>
        </div>
        <p class="mt-3 text-base text-gray-500">
          Somos una empresa con más de <span class="font-semibold"
            >20 años de experiencia</span
          > en la fabricación de tarimas y pallets de madera. Nos distinguimos por
          ofrecer soluciones confiables y adaptadas a las necesidades de la industria.
        </p>
      </div>

      <!-- Card #2 -->
      <div
        class="mt-12 max-w-md px-4 md:max-w-xl lg:max-w-xl xl:max-w-sm 2xl:max-w-md"
      >
        <img
          src="/img/placeholder.webp"
          alt="Placeholder"
          class="h-auto w-full object-cover"
        />
        <div class="mt-1 flex flex-row items-center gap-2">
          <img src="/img/target.webp" alt="Objetivo" class="mt-1 size-6" />
          <h4 class="pt-2 text-lg font-semibold text-gray-900 uppercase">
            Nuestra Misión
          </h4>
        </div>
        <p class="mt-3 text-base text-gray-500">
          Brindar a nuestros clientes <span class="font-semibold"
            >productos de calidad</span
          > que garanticen seguridad y eficiencia en sus operaciones, respaldados
          por un servicio puntual y profesional.
        </p>
      </div>

      <!-- Card #3 -->
      <div
        class="mt-12 max-w-md px-4 md:max-w-xl lg:max-w-xl xl:max-w-sm 2xl:max-w-md"
      >
        <img
          src="/img/our-vision.webp"
          alt="Placeholder"
          class="h-auto w-full object-cover"
        />
        <div class="mt-1 flex flex-row items-center gap-2">
          <img
            src="/img/mountain-top.webp"
            alt="Pulgar arriba"
            class="size-6"
          />
          <h4 class="pt-2 text-lg font-semibold text-gray-900 uppercase">
            Nuestra Visión
          </h4>
        </div>
        <p class="mt-3 text-base text-gray-500">
          Ser la empresa <span class="font-semibold"
            >líder en soluciones de embalaje</span
          > de madera en la región, reconocida por la calidad de nuestros productos,
          compromiso ambiental y excelencia en el servicio.
        </p>
      </div>
    </div>
  </section>

  <!-- Our Experience -->
  <section class="flex flex-col items-center bg-[#f5e1ce] py-20">
    <img
      src="/img/wood.webp"
      alt="Trozo de madera"
      class="max-w-3xs py-6 md:max-w-xs"
    />
    <h2 class="px-4 py-7 text-center text-3xl text-gray-800 md:text-4xl">
      La <span class="font-semibold">experiencia</span> nos respalda
    </h2>
    <!-- P1 -->
    <p
      class="mt-2 px-4 text-center text-base text-gray-800 md:text-lg lg:max-w-[50dvw]"
    >
      Contamos con <span class="font-semibold">
        más de 20 años de experiencia
      </span>
      en la fabricación de tarimas, pallets y productos derivados de la madera.
    </p>
    <!-- P2 -->
    <p
      class="mt-2 px-4 text-center text-base text-gray-800 md:text-lg lg:max-w-[50dvw]"
    >
      Nos distinguimos por nuestra <span class="font-semibold"
        >puntualidad, calidad y precios competitivos</span
      >.
    </p>
  </section>

  <!-- Why Us -->
  <section>
    <div class="">
      <h4
        class="mt-20 mb-12 flex justify-center text-3xl font-semibold text-[#976252] md:text-4xl"
      >
        <span class="py-2">¿Por qué</span><span
          class="ml-2 rounded-xl bg-gradient-to-t from-[#7F5B55] to-[#BB8163] p-2 text-white"
          >elegirnos</span
        ><span class="pt-2">?</span>
      </h4>

      <div class="flex flex-col justify-evenly md:flex-row">
        <div class="mb-12 flex flex-col items-center">
          <img
            src="/img/punctuality.webp"
            alt="Puntualidad"
            class="h-auto w-16 md:w-18"
          />
          <h3 class="mt-2 text-lg font-semibold text-[#53484E] md:text-xl">
            Entrega puntual
          </h3>
          <p class="mt-1 px-4 text-center text-base text-[#726566] md:text-lg">
            Cumplimos con los tiempos de producción que tu empresa necesita.
          </p>
        </div>

        <div class="mb-12 flex flex-col items-center">
          <img
            src="/img/quality.webp"
            alt="Calidad"
            class="h-auto w-16 md:w-18"
          />
          <h3 class="mt-2 text-lg font-semibold text-[#53484E] md:text-xl">
            Calidad garantizada
          </h3>
          <p class="mt-1 px-4 text-center text-base text-[#726566] md:text-lg">
            Materiales seleccionados y procesos de alto estándar.
          </p>
        </div>

        <div class="mb-12 flex flex-col items-center">
          <img
            src="/img/price.webp"
            alt="Puntualidad"
            class="h-auto w-16 md:w-18"
          />
          <h3 class="mt-2 text-lg font-semibold text-[#53484E] md:text-lg">
            Precios competitivos
          </h3>
          <p class="mt-1 px-4 text-center text-base text-[#726566] md:text-lg">
            Soluciones adaptadas a tu presupuesto sin comprometer la calidad.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
