---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <!-- Hero -->
  <section class="max-w-7xl mx-auto flex flex-col items-center">
    <div
      class="relative bg-cover bg-center min-h-[80vh] w-full"
      style="background-image: url('/img/hero.webp')"
    >
      <div class="absolute inset-0 bg-black/40"></div>

      <div
        class="relative z-10 mx-auto max-w-2xl px-4 min-h-[80dvh] flex flex-col items-center justify-center text-center"
      >
        <h1 class="text-4xl sm:text-5xl font-bold text-white/90">
          Fabricamos tarimas y pallets con calidad garantizada
        </h1>

        <p class="mt-6 text-lg sm:text-xl text-white/90 text-pretty">
          Más de 20 años de experiencia en soluciones de madera para la
          industria.
        </p>
      </div>
    </div>
  </section>
</BaseLayout>
