<header class="w-full bg-[#f5e1ce] shadow-md">
  <nav class="container mx-auto px-4">
    <div class="flex h-14 items-center justify-between">
      <a href="/" class="hidden pe-6 text-xl font-bold text-gray-800 md:inline">
        Tarimas Industriales
      </a>
      <ul class="flex flex-wrap items-center gap-6">
        <li><a href="/productos" class="hover:text-gray-600">Tarimas</a></li>
        <li><a href="/nosotros" class="hover:text-gray-600">Nosotros</a></li>
        <li><a href="/contacto" class="hover:text-gray-600">Contacto</a></li>
      </ul>
    </div>
  </nav>
</header>
